/* don't look, this shit garbage lmao */



/* messages */
.dividerEnabled-2TTlcf {
  border-bottom-color: transparent;
}
.messages-3amgkR {
  background-color: #202225; /* darker mode: #111, dark mode: inherit, light mode: #eee */
  border-radius: 25px;
  margin: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;

}/*
.containerCozyBounded-1rKFAn {
  border-radius: 25px;
  margin: 20px 20px 20px 30px;
  /*box-shadow: 6px 6px 16px #15171a,       /* darker mode: #000000, dark mode: #2d3035, light mode: rgba(0,0,0,0.1) */
  /*            -6px -6px 16px #27292c;  /* darker mode: #1c1c1c, dark mode: #3f4247, light mode: #fefefe */
/*}
.dividerContent-2L12VI:after, .dividerContent-2L12VI:before {
  background: none;
}
/* chat bar */
.form-2fGMdU {
  border: none;
}
.scrollableContainer-2NUZem {
  background: #202225;
  border-radius: 25px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  padding-right: 10px;
}
.scrollableContainer-2NUZem::-webkit-scrollbar {
  display: none;
}
.buttons-3JBrkn>button:first-child {
  display: none;
}
.attachWrapper-2TRKBi {
  border: none; 
}
.emojiButtonHovered-1rWNal .sprite-2iCowe,
.emojiButtonNormal-TdumYh .sprite-2iCowe{
  transform: scale(1) !important;
}
.buttons-3JBrkn {
  border-radius: 20px;
}
.channelTextArea-rNsIhG {
  margin-bottom: 0;
}
.typing-2GQL18 {
  pointer-events: none;
  margin-bottom: 45px;
}
/* chat */
.input-2A_zIr:focus {
  border-radius: 20px;
  background-color: #15171a;
  width: fit-content;
}
.chat-3bRxxu,
.activityFeed-1C0EmJ,
.gameLibrary-TTDw4Y,
.applicationStore-1pNvnv,
.container-3gCOGc,
.root-1BQpZw {
  margin: 20px;
  background: #202225 !important;
  border-radius: 20px;
  overflow: visible;
  /*box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;*/
}
.container-1r6BKw {
  background: #202225 !important;
}
.container-1r6BKw {
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  width: unset;
}
.channelTextArea-rNsIhG {
  background-color: transparent;
}
/* sidebar */
.sidebar-2K8pFh {
  background: #202225;
  margin: 20px 0px 20px 20px;
  border-radius: 20px !important;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
}
.privateChannels-1nO12o,
.scroller-1JbKMe,
.panels-j1Uci_,
.container-PNkimc,
.members-1998pB {
  background: #202225;
}
.activityPanel-28dQGo {
  border: none;
}
.container-1giJp5 {
  border-bottom: none;
}
.base-3dtUhz {
  margin-left: 30px;
}
.searchBar-6Kv8R2,
.header-2o-2hj {
  box-shadow: none;
}
/* guilds */
.guilds-1SWlCJ {
  background: #202225;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
}
.scroller-2TZvBN {
  padding-top: 10px !important;
}
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,
.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
  background-color: #15171a;
}
.guildsError-b7zR5H,
.circleButtonMask-2VNJsN {
  background-color: #202225;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border: none;
  border-radius: 50%;
}
.guildsError-b7zR5H {
  transition: all linear .2s;
}
.guildsError-b7zR5H:hover {
  border-radius: 15px !important;
}
.errorInner-19Rzk_ {
  color: #f04747;
}
.guildsError-b7zR5H:hover .errorInner-19Rzk_ {
  color: white;
}
.circleIconButton-jET_ig {
  background-color: #202225;
}
.folder-21wGz3,
.expandedFolderBackground-2sPsd- {
  background-color: #202225;
}
.expandedFolderBackground-2sPsd- {
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
}
.iconBadge-2wi9r4 {
  border: none;
}
mask[id="edf65352-894a-44d3-97ee-188638ed873f"] rect {
  display: none;
}
.iconBadge-2wi9r4.participating-NBGDkr {
  background-color: #202225;
  box-shadow: 3px 3px 6px #15171a,
              -3px -3px 6px #27292c;
  border-radius: 50%;
}
/* random */
.children-19S4PO::after {
  display: none;
}
.container-xm7Ad0::before,
.container-3T1zWi::before,
.friendsTable-133bsv::before,
.content-yTz4x3:before {
  display: none;
}
.container-1r6BKw.themed-ANHk51 {
  margin: 0px 20px 5px 20px;
  border-radius: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  width: unset;
}
.searchBar-3dMhjb {
  transition: width 0.2s linear;
}
.bar-30k2ka:not(.mention-1f5kbO) {
  display: none;
}
/* scrollbars */
::-webkit-scrollbar {
  width: 10px !important;
}
::-webkit-scrollbar-track-piece {
  background: #202225 !important;
  border: none !important;
}
::-webkit-scrollbar-thumb {
  background: #15171a !important;
  border-color: #202225 !important;
}

/* activity feed */
.column-E5Tpw7>div {
  border-radius: 20px !important;
  margin: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
}
.column-E5Tpw7>div>.card-GqTca8 {
  border-radius: 20px !important;
  overflow: hidden;
}
.theme-dark .layout-1cQCv2 {
  background-image: none;
}
.activityFeed-1C0EmJ aside {
  min-width: 370px !important;
}
.activityFeed-1C0EmJ aside .card-GqTca8 {
  overflow: hidden;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
}
.activityFeed-1C0EmJ aside h5 {
  display: none;
}
.inset-GQDQYw, .outer-2IVh5n {
  border-radius: 20px;
  overflow: hidden;
}

/* library */
.scroller-1IIF0A,
.header-39GIC8,
.scroller-5bBood {
  background: #202225;
}
.header-39GIC8,
.rowWrapper-2fB6P0+.rowWrapper-2fB6P0 .row-ZLfFhY {
  border: none;
}
.scroller-1IIF0A {
  margin: 20px 40px 20px 20px;
  border-radius: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  padding-top: 20px;
}
.stickyHeader-1pqx0j {
  width: calc(100% - 100px) !important;
  display: none;
}
.libraryHeader-3g95kE {
  margin-top: 20px !important;
  margin-right: 40px !important;
}
.container-3Mxszk {
  margin-left: 20px;
}
.container-19hC9u:before {
  display: none;
}
.libraryHeader-3g95kE + .scrollerWrap-2lJEkd>.scroller-2XE8rp {
  background-color: #202225;
  border-radius: 20px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 40px !important;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;

}
/* nitro page */
.scroller-9moviB {
  background: #202225;
  margin: 20px 20px 0px 20px;
  border-radius: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
}
/* friends */
.container-1D34oG {
  background-color: #202225 !important;
  margin-left: 20px;
}
.container-1D34oG .container-1r6BKw {
  margin: 20px 20px 0px 20px;
}
.tabBody-3YRQ8W:before {
  display: none;
}
.peopleList-3c4jOR {
  background-color: #202225;
  margin: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
}
.peopleListItem-2nzedh {
  border-top: none;
}
/* now playing stuff */
.nowPlayingColumn-2sl4cE {
  background-color: #202225;
  margin: 20px;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
}
/* members */
.membersWrap-2h-GB4 {
  margin: 20px 20px 0px 20px;
  border-radius: 20px !important;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  overflow: hidden;
  padding-top: 5px;
}

/* settings page */
.layer-3QrUeG,
.standardSidebarView-3F1I7i,
.sidebarRegionScroller-3MXcoP,
.contentRegion-3nDuYy,
.contentRegionScroller-26nc1e {
  background: #202225;
}
.sidebarRegion-VFTUkN>.scrollerWrap-2lJEkd {
  justify-content: flex-end;
}
.sidebarRegionScroller-3MXcoP {
  margin: 20px;
  border-radius: 20px !important;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  max-width: fit-content;
}
.contentRegionScroller-26nc1e {
  margin: 20px;
  border-radius: 20px !important;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  max-width: 800px;
}
.scroller-305q3I {
  background: none;
}
/* server banners */
.header-2o-2hj+.animatedContainer-1pJv5C {
  position: fixed !important;
  box-shadow: none;
  opacity: 0 !important;
  transform: translateY(0) !important;
  transition: opacity 0.2s linear;
  pointer-events: none;
  width: 240px;
  height: 135px;
  left: 370px;
  top: 50px;
  z-index: 3000;
}
.animatedContainer-1pJv5C .bannerImage-1jOskm {
  transform: translateY(0) !important;
}
.header-2o-2hj:hover+.animatedContainer-1pJv5C {
  opacity: 1 !important;
}
.bannerImage-1jOskm:before {
  display: none;
}
/* absolute unit of a selector that fixes banner whitespace*/
.container-2Rl01u.hasBanner-14PPlG~.scrollerWrap-2lJEkd>.scroller-2wx7Hm {
  margin-top: -84px;
}


/* added shit/testing 
.roleColor-rz2vM0 {
  color: rgb(141, 141, 141) !important;
}


/* random selections */
.container-2Pjhx- {
  border-radius: 20px;
  overflow: hidden;
  transition: all linear .1s;
}
.selected-aXhQR6 .layout-2DM8Md,
.clickable-1JJAn8:hover .layout-2DM8Md {
  transition: all linear .1s;
  background: #202225;
  box-shadow: inset 6px 6px 16px #15171a,
              inset -6px -6px 16px #27292c;
}
.form-2fGMdU:before {
  display: none;
}
/* titlebar */
.wordmarkWindows-1v0lYD svg{
  display: none;
}
.wordmarkWindows-1v0lYD::before {
  z-index: -1;
  content: 'Neumorphism BETA';
  font-size: 16px;
  font-family: inherit;
  font-weight: 600;
  letter-spacing: 1px;
  pointer-events: none;
}
.winButton-iRh8-Z {
  opacity: 0.4;
  transition: all linear .1s;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  margin-top: 10px;
  margin-right: 14px;
}
.winButton-iRh8-Z:hover {
  opacity: 0.8;
}
.winButton-iRh8-Z svg {
  display: none;
}
.winButtonClose-1HsbF- {
  background: rgb(240, 71, 71);
}
.winButtonMinMax-PBQ2gm:nth-child(3) {
  background: rgb(67,181,129);
}
.winButtonMinMax-PBQ2gm:nth-child(4) {
  background: rgb(250,166,26);
}

/* video chat changes */
.videoHeight-Qp_9vC {
  background-color: #202225 !important;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
  margin-top: 70px;
  margin-left: 20px;
  width: unset;
  margin-right: 20px;
}
.videoHeight-Qp_9vC.noChat-3nt48u {
  height: 90vh;
}
.video-1FfuMD {
  background-color: transparent;
  border-radius: 20px;
}
.wrapper-29NfPK .info-2fyCMj {
  padding-top: 20px !important;
}
.quickSelectLabel-2r3iJ_ {
  overflow: visible !important;
}
.wrapper-2h3Puq {
  overflow: visible;
}
.videoBackgroundWrapper-2dCt49,
.wrapper-3eE7AX {
  background-color: transparent;
}
.video-1kutKI {
  background-color: transparent;
}
.theme-dark .video-1FfuMD.noChat-3nt48u .videoTop-eOkSPq,
.theme-dark .video-1FfuMD.normal-1jW0uq .videoTop-eOkSPq {
  background: none;
}
.wrapper-29NfPK.noChat-2qlG4B .info-2fyCMj {
  margin-top: 0;
}
/* call buttons */
.wrapper-29NfPK .iconsWrapper-1RelE3 {
  background-color: #202225 !important;
  border: none;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 10px;
}
foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] {
  mask: none;
  box-shadow: 3px 3px 6px #15171a,
              -3px -3px 6px #27292c;
}
foreignObject[mask="url(#svg-mask-avatar-status-round-32)"] img {
  border-radius: 50%;
}
.callAvatarStatus-3vMeXZ {
}
/* keyboard shortcuts */
.modal-3c3bKg .keyboardShortcutsModal-3piNz7 {
  background-color: #202225;
  border-radius: 20px;
}
.ddrArrows-lSnH7P .arrow-2enltQ {
  filter: contrast(200%);
}
/* pp mic test */
.container-3PXSwK {
  border-radius: 10px;
}
.theme-dark .progress-1IcQ3A {
  background-color: #15171a;
  width: 100%;
}
.theme-dark .notches-1sAcEM.gray-3_LNYR {
  background-image: none;
}
/* pins */
.iconBadge-qZ4Ksk {
  box-shadow: 1px 1px 3px #15171a,
              -1px -1px 3px #27292c
}
foreignObject[mask="url(#svg-mask-header-bar-badge)"] {
  mask: none;
}
.messagesPopoutWrap-1MQ1bW {
  background-color: #202225;
  box-shadow: 6px 6px 16px #15171a;
  border: 1px solid #15171a;
}
.header-ykumBX {
  background-color: #202225;
  box-shadow: none;
}
.messageGroupWrapper-o-Zw7G {
  background-color: #202225;
  box-shadow: 3px 3px 10px #15171a,
              -3px -3px 10px #27292c;
  margin-right: 5px;
}
.jumpButton-3DTcS_,
.jumpButton-Ia2hRJ {
  background-color: #15171a;
  padding: 2px 7px 2px 7px;
}
/* add friends to dm */
.layer-v9HyYc .modal-yWgWj- {
  background-color: #202225;
  box-shadow: 6px 6px 16px #15171a;
  border: 1px solid #15171a;
}
.theme-dark .friendSelected-1sa4bG {
  background-color: #15171a;
}
.friendWrapper-2SrUFF .friend-3KALPe {
  transition: all linear .1s;
}
.tag-2gHSR7 {
  background-color: #15171a;
}
/* search shit */
.searchResultsWrap-2DKFzt {
  background-color: #202225;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
  margin: 20px;
}
.channelName-1QajIf {
  background-color: #202225;
}
.channelSeparator-1X1FuH:before {
  display: none;
}
.searchResult-3pzFAB:after,
.searchResult-3pzFAB:before {
  display: none;
}
.searchResultMessage-2VxO12.hit-NLlWXA {
  background-color: #202225;
  box-shadow: 6px 6px 16px #15171a,
              -6px -6px 16px #27292c;
  border-radius: 20px;
  margin: 10px;
}
.searchHeader-1l-wpR {
  box-shadow: none;
}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
  background-color: #15171a;
}
.popout-2iWAc- .container-3ayLPN {
  background-color: #202225;
  box-shadow: 6px 6px 16px #15171a;
}
.queryContainer-RKFJW- {
  border: none;
  background-color: #202225;
}
.resultsGroup-r_nuzN:before {
  display: none;
}
.option-96V44q:hover {
  background-color: #15171a;
}
.option-96V44q:after {
  display: none;
}
/* calendar */
.calendarPicker-2yf6Ci .react-datepicker,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
  border: none;
  background-color: #202225 !important;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--next,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__navigation.react-datepicker__navigation--previous,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__current-month,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__week:last-of-type .react-datepicker__day {
  border: none;
}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled,
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover {
  background-color: #15171a;
}
